    /* .heading-1 {
        text-align: center;
        flex: auto
    }

    .heading-2 {
        text-align: center;
        flex: center;
    }

    /* .btn {
        text-align: center;
        
    } */

    /* .heading-3 {
        text-align: center;
    }

    .heading-4 {
        text-align: center;
    }

    .icon-1 {
        font-size: large;
        text-align: center;
    }

    .icon-2 {
        font-size: large;
        text-align: center;
    } */ 
